<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billionfun.dao.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.billionfun.common.entity.Customer">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="username"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="status" jdbcType="INTEGER" property="sex"/>
        <result column="salt" jdbcType="INTEGER" property="sex"/>

    </resultMap>

    <select id="findByUsername" resultType="com.billionfun.common.entity.Customer" resultMap="BaseResultMap">
        select * from customer where username=#{username}
    </select>
    <update id="modifyById" parameterType="com.billionfun.common.entity.Customer" >
        update customer set username=#{username} where id=#{id}
    </update>
    <insert id="saveCustomer" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
            parameterType="com.billionfun.common.entity.Customer">
        insert into customer (username ,password,email,mobile,sex,create_date,status,salt) values (#{username},#{password},#{email},#{mobile},#{sex},#{createDate},#{status},#{salt})
    </insert>


</mapper>