<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billionfun.dao.OrderItemMapper">
    <resultMap id="BaseResultMap" type="com.billionfun.common.entity.OrderItem">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="qty" jdbcType="INTEGER" property="qty"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="discount_price" jdbcType="DECIMAL" property="discountPrice"/>
        <result column="real_price" jdbcType="DECIMAL" property="realPrice"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>

    <select id="findByOrderId" resultType="com.billionfun.common.entity.OrderItem" resultMap="BaseResultMap">
        select * from `order_item` where order_id=#{orderId}
    </select>
    <insert id="saveOrderItem" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
            parameterType="com.billionfun.common.entity.OrderItem">
        insert into `order_item` (order_id ,product_id,goods_id,product_name,qty,price,total_price,discount_price,real_price,status,create_date)
        values (#{orderId},#{productId},#{goodsId},#{productName},#{qty},#{price},#{totalPrice},#{discountPrice},#{realPrice},#{status},#{createDate})
    </insert>

</mapper>